.home{
    background-image: url('../../Images/bg3.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    /* position: relative; */
    
}
.header{
   padding-top: 10rem;
}
.header h1{
    font-size: 2.5rem;
color: white;
font-family: sofia-pro,sans-serif;
letter-spacing: 2.7px;
}
.btn{
    background: #071E57;
    border: 3px solid #071E57;
    color: #fff;
    min-width: 219px;
    padding: 10.5px 20px;
    display: inline-block;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px; 
}
.btn:hover{
    background: transparent;
    cursor: pointer;
    border-bottom: 5px solid #071E57;
}